#.pytest_cache/
TestResults/
rnd/
!resources/default_configs/

#venv
*.html
*.log
*.apk
#*.html
.idea
__pycache__/
*.py[cod]
pages/__pycache__/
testcases/__pycache__/
assets

allure-resulte
# Byte-compiled / optimized / DLL files
*$py.class

# C extensions
*.so
/t.py
# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyBuilder
target/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
report.html
scripts.txt
test.py
**/**/allure_report/
**/**/allure_reports/
**/**/allure-result/
**/**/allure-report/
**/**/allure-results/
**/**/allure-reports/.DS_Store
**/**/.DS_Store
**/**/.swp
**/**/environment.properties
**/**/scp_failed_test.properties
utils/extras/scribe_provider_pair.csv
resources/scp_failed_test_*.properties
.scannerwork
pylint_report.html
pylint_output.json
.automation_exercise_logs.txt

